- @area     = Event.pluck(:area).uniq
- @language = Event.pluck(:language).uniq

.form-group
  = select_tag :area, options_for_select(@area), multiple: true, id: "area-filter",  style: "width: 100%"
.form-group
  .row
    .col-xs-6
      #start-date-filter.datepicker.input-group.date
        %input.form-control(type="text" placeholder="From ...")
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    .col-xs-6
      #end-date-filter.datepicker.input-group.date
        %input.form-control(type="text" placeholder="To ...")
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
.form-group
  = select_tag :language, options_for_select(@language), multiple: true, id: "language-filter", style: "width: 100%"

#filter-button.btn.btn-default Filter
