%section.cover-img-section
  .cover-img
    #search-col.col-md-8
      #search-panel.panel.panel-default
        .panel-body
          %h1 Get enlightened
          .btn-group(data-toggle="buttons")
            %label#grouped-by-month.btn.btn-default.active
              %input(autocomplete="off" name="options" type="radio" checked="checked")
              Grouped by month
            %label#grouped-by-area.btn.btn-default
              %input(autocomplete="off" name="options" type="radio")
              Grouped by location
            %label#grouped-by-language.btn.btn-default
              %input(autocomplete="off" name="options" type="radio")
              Grouped by language

%h1.root-page-title.text-center Events for you

%section#event-list-section
  = render partial: "event_list"
