%section.cover-img-section
  .cover-img
    #search-col.col-md-8.col-sm-12
      #search-panel.panel.panel-default
        .panel-body
          %h1#slogan Get enlightened
          = render partial: "events/index/filter_form"


%h1.root-page-title.text-center Events for you

%section#event-list-section
  = render partial: "events/event_list/grouped_event_list"
