%section.cover-img-section
  .cover-img
    #search-col.col-md-8
      #search-panel.panel.panel-default
        .panel-body
          %h1 Get enlightened
          = render partial: "events/index/filter_form"

#mobile-search-col
  #mobile-search-panel.panel.panel-default
    .panel-body
      = render partial: "events/index/filter_form"

%h1.root-page-title.text-center Events for you

%section#event-list-section
  = render partial: "events/event_list/grouped_event_list"

:javascript
  // get initial position of the element
  var panelPosition = $("#mobile-search-col").offset().top;
  // assign scroll event listener
  $(window).scroll(function() {
    // get current position
    var currentScroll = $(window).scrollTop();
    // apply position: fixed if you
    if (currentScroll >= panelPosition) {
        // scroll to that element or below it
        $("#mobile-search-col").css({
            position: "fixed",
            top: "0",
            left: "0",
            width: "100%"
        });
    } else {
        // apply position: static
        $("#mobile-search-col").css({
            // if you scroll above it
            position: "static"
        });
    }
  });
