.container
  .row
    - if @events.present?
      - @events.each do |event|
        .col-md-4.col-sm-12
          .event-card.panel.panel-default
            .panel-body.event-image
              %a.thumbnail
                =image_tag event.image.url(:thumb), class: "card-img-top"
            .panel-body.event-content
              %p.start-time= event.start_time.strftime("%a, %d %b %Y, %R %P")
              .title= link_to event.title, event, class: "h4 card-text event-title"
              %p.location= event.location
    - else
      %h2.text-center No Results Found
