#event-container {
  .event-label {
    text-transform: uppercase;
  }

  // TODO: Merge in one place
  .event-details-container {
    padding: 10px;
  }

  .event-container-img {
    max-height: 360px;
    margin: auto;
    display: block;
  }

  .title:hover {
    background-color: transparent;
    text-decoration: none;
  }

  .start-time {
    margin-bottom: 30px;
  }
}
