%nav.navbar.navbar-default.navbar-toggleable-md
  .container-fluid
  %a.navbar-brand(href="/") Dharma Event

  #navbar.collapse.navbar-collapse
    %ul.nav.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'New Event', new_event_path, class: "nav-link"
