%nav.navbar.navbar-default
  .container-fluid
  %a.navbar-brand(href="/") Dharma Event

  #navbar.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.nav-item
        = link_to 'New Event', new_event_path, class: "nav-link"
